<div class="widget tag">
<h3 class="title">Friends</h3>
<ul class="entry">
<li><a href="https://oi.men.ci" title="Menci" target="_blank">Menci</a></li>
<li><a href="http://ilern.coding.me/428/" title="ilern">ilern</a></li>
</ul>
</div>
